<%= render 'shared/banner' %>
<div class="wrapper">
  <div class="container">
    <div class="cards-container">


      <div class="cards">
        <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 400, width: 300, crop: :fill, gravity: :center; %>');">
              <% if cocktail.ratings %>
                <% if cocktail.ratings.count > 10 %>
                  <div class="card-popular"><p> POPULAR</p></div>
                <% end %>
              <% end %>
            </div>
            <div class="card-footer">
              <div class="card-info">
                <p><%= cocktail.name %></p>
              </div>
              <div class="card-rating">
               <!--  <p><%= cocktail.average_rating %></p> -->
                <!-- <a href="#">
                  <i class="fa fa-star"></i>
                </a>
                <a href="#">
                  <i class="fa fa-heart"></i>
                </a>
                <a href="#">
                  <i class="fa fa-share"></i>
                </a> -->
              </div>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
          </div>
        </div>
        <% end %>
      </div>
      </div>

    </div>
  </div>
</div>

