
<div class="wrapper">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p><%= @cocktail.description %></p>
    <div class="row lead container">
      <div id="stars-existing" class="starrr" data-rating='<% @cocktail.average_rating %>'>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="far fa-star"></i>


      </div>
      <!-- <span id="count-existing">4</span> -->

    </div>
    <div>
      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description %> | <%= dose.ingredient.name %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>    <i class="fas fa-trash"></i></p>
          <% end %>
      <% end %>
    </div>


    <!-- Modal link -->
    <%= link_to "add ingredient", "#", class: 'btn btn-primary', :id => 'add-ingredient', data: {toggle: "modal", target: "#addIngredientModal"}  %>
  </div>
</div>

<!-- Modal -->
<%= render 'shared/modal' %>
</div>
